<%- include("template/content", {title: "Index"}) %>

<a href="/notes/new">Crear nueva nota</a>

<div>
  <% for(let note of notes) { %>
  <h3><%= note.title %></h3>
  <p><%= note.body %></p>
  <% } %>
</div>
