extends index

block body
  div(class="body-actions")
    a(href=`/notes/${currentNote._id}/edit`)
      i(class="far fa-edit")
    a(href="#" class="btn-delete" data-id=`${currentNote._id}`)
      i(class="far fa-trash-alt")

  div(class="body-content")
    h1(class="body-title")= currentNote.title
    div(class="body-text") !{md(currentNote.body || "")}

  script
    include ../../public/js/show.js
